body{
    background:url(../img/2033674.jpg) no-repeat;
}
.divc{
    background: rgba(250,250,250,0.8);
}
table{
    border: 1px solid orange;
}
table th{
    color: white;
    background-color: orange;
    border: 1px solid white;
}
table td{
    border: 1px solid orange;
}